<!--
    <a href="#" onclick="window.open('http://codigofonte.net', 'Pagina',
                                'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1024, HEIGHT=700');">
                                Add Photo 
    </a>
-->
