{% extends "master2.html.twig" %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <p>Hi </p><a href="#">USER</a>
            </li>
            <li>
                <a href="/addphoto">Add Photo</a>
            </li>
            <li>
                <a href="/editalbum">Edit Album</a>
            </li>
            <li>
                <a href="/removephoto">Remove Photo</a>
            </li>
            <li>
                <a href="/deletealbum">Delete Album</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock navbarSign %}
{% block content %}
    
    <div class="row">
        
        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">My Album</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
