{#--************************************
//       TEACHER SPECIAL CODE
#}

{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/photos">Photos</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/profile"><b>{{ imagouser.name }}</b></a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block content %}
    <h1>Internal error</h1>
    <img src="/media/ninja.png" width="150">
    <p>We're very sorry, we failed to fulfill your request.
        Our team of coding black ninjas has already
        been notified of your trouble.</p>
    <p><a href="/">Click here</a> to continue</p>
    
    
{% endblock %}