{% extends "master.html.twig" %}

{% block title %}imaGO - Home{% endblock %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/signin">Sign In</a>
            </li>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
{% endblock navbarSign %}
{% block container %}
    <div class="background-image-fixed cover-image" style="background-image : url('https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?w=1024&amp;q=50&amp;fm=jpg&amp;s=2016c4932a7b7a1b629cb6890bff9977')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="homeimaGO">imaGO</h1>
                <p id="homeimaGOMessage">Your Photos, your Albums in the palm of your hand!</p>
                <br>
                <br>
                <a id="myBtn" class="btn btn-lg btn-default" href="/signin">Get In!</a>
            </div>
        </div>
    </div>
{% endblock container %}