{% extends "master.html.twig" %}

{% block title %}Successful{% endblock %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/signin">Sign In</a>
            </li>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Password reset successful</h1>
                <a href="/">Click to continue</a>
            </div>
        </div>
    </div>
{% endblock container %}
