{% extends "master2.html.twig" %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/profile"><b>{{ imagouser.name }} | Profile</b></a>
            </li>
            <li>
                <a href="/albums">Albums</a>
            </li>
            <!--
            <li>
                <input id="upload" type="file" name="image" style="display: none;" multiple>
            </li>
            -->
            <li>
                <a href="/photos" onclick="window.open('photos/add', 'Pagina',
                                'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1024, HEIGHT=700');">
                    Add Photo 
                </a>
                <!--
                <a href="" id="upload_link">Add photo</a>​
                % if v.imagePath %}
                    <img width="50" src="/{v.imagePath}}">
                % endif %}
                -->
            </li>
            <li>
                <a href="/deletephoto">Delete Photo</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
    <!--
        <script>
            $(function () {
                $("#upload_link").on('click', function (e) {
                    e.preventDefault();
                    $("#upload:hidden").trigger('click');
                });
            });
        </script>
    -->
{% endblock navbarSign %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">My Photos</h1>
                        </div>
                    </div>
                    <div class="row">
                        {% for p in photoList %}
                            
                            <div class="col-md-3">
                                <a href="/photos">
                                    
                                </a>
                                <img src="/{{p.imagePath}}" width="40" class="img-responsive">
                            </div>
                            <!--
                            <div data-role="popup" id="myPopup">
                                <p>This is my picture!</p> 
                                <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                                <img src="/{p.imagePath}}" style="width:800px;height:400px;" alt="Skaret View">
                            </div>
                            -->

                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock container %}

