{% extends "master2.html.twig" %}

{% block title %}Add Photo{% endblock %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/profile"><b>{{ imagouser.name }} | Profile</b></a>
            </li>
            <li>
                <a href="/albums">Albums</a>
            </li>
            <li>
                <a href="/photos/add">Add Photo</a>
            </li>
            <li>
                <a href="/deletephoto">Delete Photo</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block container %}
    {% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        Image: <input type="file" name="image" accept="image/*"><br>
        {% if v.imagePath %}
            <img width="50" src="/{{v.imagePath}}">
        {% endif %}
        <input type="submit" value="Save Photo">
    </form>    
{% endblock container %}