{% extends "master2.html.twig" %}

{% block title %}Photo Deleted successfully{% endblock title %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/photos" />
{% endblock headExtra %}

{% block container %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center"><i class="ion-log-in"></i>Photo Deleted Successfully</h4>
                <br/><br/>
                <p class="text-center text-muted">
                    <small>Click <a href="/photos">here</a> to see your photos or you will be redirected in 5 seconds.</small>
                </p>
            </div>
        </div>
    </div>
{% endblock container %}