{% extends "master.html.twig" %}

{% block title %}Sign In - Profile Deleted Successful{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="3;url=/" />
{% endblock %}

{% block container %}
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center">Profile Deleted Successful</h4>
            </div>
        </div>
    </div>
{% endblock %}
