{% extends "master.html.twig" %}

{% block title %}imaGO - Profile Delete{% endblock %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/profile"><b>{{ imagouser.name }} | Profile</b></a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/photos/add">Add Photo</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/albums/add">Add Album</a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}



{% block container %}
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">

                <p> Are you sure you want to delete your profile? All albums and photos will be deleted!!</p>

                <b><p>{{p.name}} : {{p.email}}</p></b>

                <form style="display: inline-block" action="/profile">
                    <input type="submit" value="Cancel" class="btn btn-success"></form>
                <form style="display: inline-block" method="post">
                    <input type="hidden" name="delete" value="confirmed">
                    <input type="submit" value="Yes, delete" class="btn btn-danger"></form>


            </div>
        </div>
    </div>
{% endblock container %}

