{% extends "master2.html.twig" %}

{% block title %}imaGO - Profile{% endblock %}

{% block headExtra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
            $(document).ready(function () {
                    $("#emailInUse").hide();
                    $("input[name=email]").keyup(function () {
                            var email = $(this).val();
                            //console.log("Keyup: " + email);
                            if (email === "") {
                                    $("#emailInUse").hide();
                                    return;
                            }
                            $.get("/ajax/emailused/" + email, function (result) {
                                    result = eval(result);
                                    if (result) {
                                            $("#emailInUse").show();
                                            return;
                                    } else {
                                            $("#emailInUse").hide();
                                    }
                            });
                    });
            });
    </script>
{% endblock %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/photos">Photos</a></li>
            <li><a href="/albums">Albums</a></li>
            <li class="active"><a href="/profile"><b>{{ imagouser.name }}</b></a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block container %}
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center"><i class="ion-person-add"></i>Profile</h4>

                {% if errorList %}
                    <ul class="errorList">
                        {% for error in errorList %}
                            <li>{{ error }}</li>
                            {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" name="profileForm">
                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="text" id="name" name="name" placeholder="Name" autofocus value="{{v.name}}">
                        <span class="ion-at form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback" >
                        <input class="form-control input-lg" type="email" id="email" name="email" placeholder="Email" autofocus value="{{v.email}}">
                        <span id="emailInUse" class="ion-at form-control-feedback">Email already registred</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="password" name="pass1" placeholder="Password" autofocus>
                        <span class="ion-key form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="password" name="pass2" placeholder="Password (repeated)" autofocus>
                        <span class="ion-key form-control-feedback"></span>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">Update Profile</button>
                    <br/>
                </form>

                <div class="signup-or-separator">
                    <hr>
                </div>

                <a href="/profile/delete" class="btn btn-danger" style="margin: 0 auto">Delete profile</a>
            </div>
        </div>
    </div>
{% endblock container %}