{% extends "master.html.twig" %}

{% block title %}imaGO - Sign Out Successful{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="2.5;url=/" />
{% endblock %}

{% block container %}
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center"><i class="ion-log-in"></i>Sign Out Successful</h4>
            </div>
        </div>
    </div>
{% endblock %}
