{% extends "master.html.twig" %}

{% block title %}Sign Up Successful{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="3;url=/signin" />

{% endblock %}

{% block container %}
    <h1>Sign Up successful</h1>
    <a href="/signin">Click to login</a> or you will be redirected in 3 seconds.
{% endblock %}
